<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{{ form.instance.pk|default:"Add New" }} Book</title>
  </head>
  <body>
    <h1>{{ form.instance.pk|default:"Add New" }} Book</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="button">Save</button>
      <a href="{% url 'book_list' %}" class="button">Cancel</a>
    </form>
  </body>
</html>
